

header{
   padding-top: 5px;
    background: linear-gradient(to top, rgb(9, 32, 63) 0%, rgb(83, 120, 149) 100%); 
    
}

header img{
width: 10%;
height: 10%;
}

header nav ul{
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: rgb(253, 142, 6);
    
  
  

}
header nav li{
    display: flex;
    align-items: center;
    font-weight: bolder;
    align-content: left;
    width: 211px;
    background-color: rgb(253, 142, 6);
    
}




header nav a {
    text-decoration: none;
    color: black;
   
     
} 


header nav li img{
    width: 25px;
    height: 25px;
   
   
   

}
header nav li:hover{
    background-color: rgba(34, 156, 232, 0.961);
}

