

header{
   padding-top: 5px;
    background: linear-gradient(to top, rgb(9, 32, 63) 0%, rgb(83, 120, 149) 100%); 
    
}

header img{
width: 10%;
height: 10%;
}

header nav ul{
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    display: flex;
    background-color: rgb(253, 142, 6);
    
  
  

}
header nav li{
    display: inline;
    border-radius:  10%;
    font-weight: bolder;
    margin-right: 200px;

}




header nav a {
    text-decoration: none;
    color: black;
    text-shadow: 10%;
     
} 


header nav li img{
    width: 25px;
    height: 25px;
   
   
   

}
header nav li:hover{
    background-color: rgba(226, 127, 13, 0.961);
}

